/* 상단 컨테이너를 전체 너비로 잡고 내부 요소를 중앙 정렬 */
.bs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;  /* 내부 영역들이 중앙에 오도록 */
  gap: 20px;               /* 영역 사이에 40px 간격 */
  width: 100%;
  height: 100%;
  padding: 0 20px;         /* 좌우 여백 */
  align-items: stretch; /* 내부 영역들이 높이를 부모 높이에 맞추도록 수정 */
}

/* Best와 Worst 영역 각각의 너비를 45%로 지정 */
.container-best,
.container-worst {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* Best 영역: 오른쪽 패딩과 구분선 추가 */
.container-best {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative; /* 추가 */
  gap: 30px;
}
/* Worst 영역: 왼쪽 패딩 추가 */
.container-worst {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative; /* 추가 */
  gap: 30px;
}

.divider {
  position: absolute;
  height: 95%;
  width: 2px;
  border-left: 2px d #ccc;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;

}

.color-boxes {
  display: flex;
  gap: 15px; /* 기존 간격 유지 */
  margin-top: 20px; /* 제목과 색상 블록 사이에 여백 추가 */
  /* 필요에 따라 padding-top 도 사용 가능 */
  margin-bottom: 20px; /* 제목과 색상 블록 사이에 여백 추가 */
}


/* 제목의 글자 크기를 2.5rem으로, 중앙 정렬 */
.title {
  font-size: 2.8rem; 
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
  color:black;
  font-family: 'netmarbleB';
}