.modal-content {
  width: 90vw;         /* 뷰포트 너비의 90% */
  max-width: 1300px;   /* 최대 너비 제한 */
  min-height: 500px;
  max-height: 500px;
  margin: auto;
  background-color: #D2F096; 
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;  /* 수평, 수직 모두 숨김 */
  box-shadow: none;
}




