.bottom-button {
    text-decoration: none;
    color: black;
    background-color: #E5F6FF;  /* 비활성화된 버튼 색 */
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 25px;
    font-family: NanumGothic;
    transition: background-color 0.3s;
    box-shadow: 0px 2.221px 2.221px 0px rgba(0, 0, 0, 0.25);
  }
  
  .bottom-button:hover {
    background-color: #a0c9df;  /* hover 시 색상 변경 */
    color: white;
  }
  
  /* 활성화된 버튼 */
  .bottom-button.active {
    background: #FFE5E5;  /* 활성화된 버튼 색상 */
  }
  