/* css/Topbar.css */
.Topbar {
    display: flex;
    width: 100%;
    height: 80px;
    padding: 35.699px 30.679px 36.257px 30.121px;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0; /* 상단 고정 */
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .Topbar-container {
    /* width: 1385.579px;
    height: 65.263px; */
    flex-shrink: 0;
  }
  
  .Topbar-logo {
    color: rgba(255, 255, 255, 0.85);
    font-family: NanumGothic;
    font-size: 55.78px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  
  .Topbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .Topbar-item {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 16px;
  }
  
  .Topbar-item:hover {
    text-decoration: underline;
  }
  