/* 기본 Bottombutton 스타일 */
.bottom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  text-decoration: none;
  background-color: #82dc28; /* 기본 배경색 */
  color: white;              /* 기본 텍스트 색 */
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  font-family: NanumGothic;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0px 2.22px 2.22px rgba(0, 0, 0, 0.25);
}

/* 마우스 오버 시 및 active 상태 */
.bottom-button:hover,
.bottom-button.active {
  background-color: #36972d;
  color: white;
}

/* 추가 스타일 (예시) */
.bottom-button.recommend {
  background-color: #E5F6FF;
}

.bottom-button.makeup {
  background-color: #FFE5E5;
}
