.bottom-button {
  display: flex; /*  Flexbox 사용 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /*  세로 중앙 정렬 */
  margin-left: 100px;
  text-decoration: none;
  color: black;
  background-color: #E5F6FF;  /* 기본 버튼 색 */
  padding: 10px 10px;
  border-radius: 10px;
  font-size:30px;
  font-weight: 600; 
  font-family: NanumGothic;
  
  transition: background-color 0.3s;
  box-shadow: 0px 2.221px 2.221px 0px rgba(0, 0, 0, 0.25);
  
  width: 277.597px;
  height: 73.433px;
}


.bottom-button:hover {
  background-color: #a0c9df;  /* hover 시 색상 변경 */
  color: white;
}

/* 활성화된 버튼 */
.bottom-button.active {
  background: #FFE5E5;  /* 활성화된 버튼 색상 */
}

/* 각 버튼별 개별 색상 추가 */
.bottom-button.recommend {
  background-color: #E5F6FF; 
}

.bottom-button.makeup {
  background-color: #FFE5E5; 
}
