.choice-button {
    width: 45%;
    height: 100%;
    background-color: #82DC28;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
  }
  
  .choice-image {
    width: 80%;
    height: auto;
    border-radius: 10px;
  }
  
  .choice-description {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .choice-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
  }