/* PersonalColorDetail.css */

.detail-container-left {
  flex: 1;
  padding: 20px;
  display: flex;
  height: 400px;
  width: 600px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; /* 중앙 정렬 → 왼쪽 정렬 */
  text-align: left; /* 텍스트도 왼쪽 정렬 */
  gap: 40px;
  margin-right: 0;
}

.detail-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left:60px
}

.detail-description {
  margin-left: 50px;
  text-align: left; /* 왼쪽 정렬 */
  font-size: 1.3rem;
  font-weight: 500;
  color: #666;
  max-width: 100%;
  justify-content: flex-start;
  line-height: 1.8; /* 문장 간 간격 조정 */
  white-space: pre-wrap; /* 문장이 끝날 때마다 줄바꿈 */
}

.detail-container-right {
  flex: 0.8;
  padding: 20px;
  display: flex;
  gap:20px;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.detail-section {
  width: 100%;

  border-radius: 10px;
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
  /* margin-bottom: 20px; */
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  top: 0;
}

.color-palette {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.color-group {
  text-align: center;
}

.color-group h3 {
  font-size: 1.3rem;
  font-weight: bold;
  /* margin-bottom: 10px; */
  padding: 0;
  margin: 0;
}

.color-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.color-box {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border: 2px solid #ddd;
  transition: transform 0.2s ease-in-out;
}

.color-box:hover {
  transform: scale(1.1);
}

