.camera {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    overflow: hidden;
}

/* 기존 비디오 스타일 유지 (셀카 모드) */
.camera-video {
    width: auto;
    height: auto;
    object-fit: cover;
    transform: scaleX(-1); /* 좌우 반전 */
}

/* 얼굴 랜드마크 캔버스 추가 */
.camera-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
