.top-button {
    text-decoration: none;
    color: white;
    background-color: rgba(130, 220, 40, 0.40);  /* 비활성화된 버튼 색 */
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    transition: background-color 0.3s;
    box-shadow: 0px 2.221px 2.221px 0px rgba(0, 0, 0, 0.25);
    
  }
  
  .top-button:hover {
    background-color: #82DC28;  /* hover 시 색상 변경 */
    color: white;
  }
  
  /* 활성화된 버튼 */
  .top-button.active {
    background: #82DC28;  /* 활성화된 버튼 색상 */
  }
  
  .modal-active .top-button {
    z-index: 5 !important; /* 모달보다 낮게 */
  }